<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">

	<section class="custom-splide mb-10" x-data="customSplide">
		<div class="splide" x-ref="splide">
			<div class="splide__track">
				<ul class="splide__list">
					<f:for each="{anythingsliders}" as="slider">
						<f:switch expression="{slider.type}">
							<f:case value="1">
								<f:render section="video" arguments="{
									type:slider.video.originalResource.extension,
									video:slider.video.originalResource.publicUrl,
									image:slider.image,
									title:slider.title,
									description:slider.description
								}" />
							</f:case>
							<f:case value="2">
								<li class="splide__slide">
									<div class="relative flex flex-col content-center items-center">
										<h2>{slider.title}</h2>
										<div class="desc">
											{slider.description->f:format.raw()}
										</div>
										<f:if condition="{slider.image}">
											<f:image class="absolute -z-1 img-responsive w-full h-full" image="{slider.image}" />
										</f:if>
									</div>
								</li>
							</f:case>
							<f:case value="3">
								<f:render section="video" arguments="{
									type:slider.video.originalResource.extension,
									video:slider.video.originalResource.publicUrl,
									image:slider.image
								}" />
							</f:case>
							<f:defaultCase>
								<f:if condition="{slider.source}">
									<iframe class="w-full h-full" title="map"
										src="{slider.source}"></iframe>
								</f:if>
							</f:defaultCase>
						</f:switch>
					
					</f:for>
				</ul>
			</div>
		</div>
	</section>

</f:section>


</html>



<f:section name="videoText">
	<f:switch expression="{type}">
		<f:case value="vimeo">
			<li class="splide__slide" data-splide-vimeo="{video}">
				<div class="relative flex flex-col content-center items-center">
					<h2>{title}</h2>
					<div class="desc">
						{description->f:format.raw()}
					</div>
					<f:if condition="{image}">
						<f:image class="absolute -z-1 img-responsive w-full h-full" image="{image}" />
					</f:if>
				</div>
			</li>
		</f:case>
		<f:case value="youtube">
			<li class="splide__slide" data-splide-youtube="{video}">
				<div class="relative flex flex-col content-center items-center">
					<h2>{title}</h2>
					<div class="desc">
						{description->f:format.raw()}
					</div>
					<f:if condition="{image}">
						<f:image class="absolute -z-1 img-responsive w-full h-full" image="{image}" />
					</f:if>
				</div>
			</li>
		</f:case>
		<f:defaultCase>
			<li class="splide__slide"
				data-splide-html-video="{video}">
				<div class="relative flex flex-col content-center items-center">
					<h2>{title}</h2>
					<div class="desc">
						{description->f:format.raw()}
					</div>
					<f:if condition="{image}">
						<f:image class="absolute -z-1 img-responsive w-full h-full" image="{image}" />
					</f:if>
				</div>
			</li>
		</f:defaultCase>
	</f:switch>
</f:section>


<f:section name="video">
	<f:switch expression="{type}">
		<f:case value="vimeo">
			<li class="splide__slide" data-splide-vimeo="{video}">
				<f:if condition="{image}">
					<f:image class="img-responsive w-full h-full" image="{image}" />
				</f:if>
			</li>
		</f:case>
		<f:case value="youtube">
			<li class="splide__slide" data-splide-youtube="{video}">
				<f:if condition="{image}">
					<f:image class="img-responsive w-full h-full" image="{image}" />
				</f:if>
			</li>
		</f:case>
		<f:defaultCase>
			<li class="splide__slide"
				data-splide-html-video="{video}">
				<f:if condition="{image}">
					<f:image class="img-responsive w-full h-full" image="{image}" />
				</f:if>
			</li>
		</f:defaultCase>
	</f:switch>
</f:section>

